In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time
headers = {"User-Agent" : "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.128 Safari/537.36"}

 # 7개 정보를 빈 리스트 만들기 
number = []
name = []
position = []
age = []
nation = []
team = []
value = []

for i in range(1,3):
    url = f"https://www.transfermarkt.com/spieler-statistik/wertvollstespieler/marktwertetop?ajax=yw1&page={i}"
    res = requests.get(url,headers = headers)
    res.status_code

    soup = BeautifulSoup(res.content, 'lxml')
    
    # 선수들의 정보가 담긴 태그와 클래스 찾기
    player_info = soup.find_all('tr', class_=['odd','even'])

    # player_info에서 'td'태그만 모두 찾기
    for info in player_info:
        player = info.find_all("td")

        # 해당 정보를 찾아서 각 리스트에 append로 추가하기
        number.append(player[0].text)
        name.append(player[3].text)
        position.append(player[4].text)
        age.append(player[5].text)
        nation.append(player[6].img['alt'])
        team.append(player[7].img['alt'])
        value.append(player[8].b.text)
        
    time.sleep(1)


# pd.DataFrame()으로 저장하기 
df = pd.DataFrame({
    "number":number,
    "name":name,
    "position":position,
    "age":age,
    "nation":nation,
    "team":team,
    "value":value
})
df

,number,name,position,age,nation,team,value
0,1,Kylian Mbappé,Centre-Forward,22,France,Paris Saint-Germain,€160.00m
1,2,Harry Kane,Centre-Forward,27,England,Tottenham Hotspur,€120.00m
2,3,Erling Haaland,Centre-Forward,20,Norway,Borussia Dortmund,€110.00m
3,4,Mohamed Salah,Right Winger,28,Egypt,Liverpool FC,€110.00m
4,5,Neymar,Left Winger,29,Brazil,Paris Saint-Germain,€110.00m
5,6,Jadon Sancho,Right Winger,21,England,Borussia Dortmund,€100.00m
6,7,Trent Alexander-Arnold,Right-Back,22,England,Liverpool FC,€100.00m
7,8,Sadio Mané,Left Winger,29,Senegal,Liverpool FC,€100.00m
8,9,Raheem Sterling,Left Winger,26,England,Manchester City,€100.00m
9,10,Kevin De Bruyne,Attacking Midfield,29,Belgium,Manchester City,€100.00m
10,11,Bruno Fernandes,Attacking Midfield,26,Portugal,Manchester United,€90.00m
11,12,Joshua Kimmich,Defensive Midfield,26,Germany,Bayern Munich,€90.00m
12,13,Jan Oblak,Goalkeeper,28,Slovenia,Atlético Madrid,€90.00m
13,14,Romelu Lukaku,Centre-Forward,27,Belgium,Inter Milan,€90.00m
14,15,Marcus Rashford,Left Winger,23,England,Manchester United,€85.00m
15,16,Heung-min Son,Left Winger,28,"Korea, South",Tottenham Hotspur,€85.00m
16,17,Ansu Fati,Left Winger,18,Spain,FC Barcelona,€80.00m
17,18,João Félix,Second Striker,21,Portugal,Atlético Madrid,€80.00m
18,19,Frenkie de Jong,Central Midfield,23,Netherlands,FC Barcelona,€80.00m
19,20,Lionel Messi,Right Winger,33,Argentina,FC Barcelona,€80.00m
20,21,Alphonso Davies,Left-Back,20,Canada,Bayern Munich,€75.00m
21,22,Matthijs de Ligt,Centre-Back,21,Netherlands,Juventus FC,€75.00m
22,23,Thibaut Courtois,Goalkeeper,28,Belgium,Real Madrid,€75.00m
23,24,Marc-André ter Stegen,Goalkeeper,28,Germany,FC Barcelona,€75.00m
24,25,Pedri,Attacking Midfield,18,Spain,FC Barcelona,€70.00m
25,26,Phil Foden,Central Midfield,20,England,Manchester City,€70.00m
26,27,Lautaro Martínez,Centre-Forward,23,Argentina,Inter Milan,€70.00m
27,28,Federico Valverde,Central Midfield,22,Uruguay,Real Madrid,€70.00m
28,29,Rodri,Defensive Midfield,24,Spain,Manchester City,€70.00m
29,30,Mikel Oyarzabal,Left Winger,23,Spain,Real Sociedad,€70.00m
30,31,Kai Havertz,Attacking Midfield,21,Germany,Chelsea FC,€70.00m
31,32,Marcos Llorente,Central Midfield,26,Spain,Atlético Madrid,€70.00m
32,33,Sergej Milinković-Savić,Central Midfield,26,Serbia,SS Lazio,€70.00m
33,34,Rúben Dias,Centre-Back,23,Portugal,Manchester City,€70.00m
34,35,Bernardo Silva,Attacking Midfield,26,Portugal,Manchester City,€70.00m
35,36,Andrew Robertson,Left-Back,27,Scotland,Liverpool FC,€70.00m
36,37,Leroy Sané,Right Winger,25,Germany,Bayern Munich,€70.00m
37,38,Marquinhos,Centre-Back,26,Brazil,Paris Saint-Germain,€70.00m
38,39,Raphaël Varane,Centre-Back,27,France,Real Madrid,€70.00m
39,40,Serge Gnabry,Right Winger,25,Germany,Bayern Munich,€70.00m
40,41,Leon Goretzka,Central Midfield,26,Germany,Bayern Munich,€70.00m
41,42,Virgil van Dijk,Centre-Back,29,Netherlands,Liverpool FC,€70.00m
42,43,Casemiro,Defensive Midfield,29,Brazil,Real Madrid,€70.00m
43,44,Kingsley Coman,Left Winger,24,France,Bayern Munich,€65.00m
44,45,Timo Werner,Centre-Forward,25,Germany,Chelsea FC,€65.00m
45,46,Alisson,Goalkeeper,28,Brazil,Liverpool FC,€65.00m
46,47,Eduardo Camavinga,Central Midfield,18,France,Stade Rennais FC,€60.00m
47,48,Bukayo Saka,Right Winger,19,England,Arsenal FC,€60.00m
48,49,Jules Koundé,Centre-Back,22,France,Sevilla FC,€60.00m
49,50,Richarlison,Left Winger,23,Brazil,Everton FC,€60.00m

In [3]:
#df.to_csv()로 csv 파일로 저장하기
df.to_csv('transfermark25.csv',index = False)

## 다른 방식으로 DataFrame 만들기(리스트 안에 리스트)

In [8]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time
headers = {"User-Agent" : "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.128 Safari/537.36"}

player_list=[]

for i in range(1,3):
    url = f"https://www.transfermarkt.com/spieler-statistik/wertvollstespieler/marktwertetop?ajax=yw1&page={i}"
    res = requests.get(url,headers = headers)
    res.status_code

    soup = BeautifulSoup(res.content, 'lxml')
    
    # 선수들의 정보가 담긴 태그와 클래스 찾기
    player_info = soup.find_all('tr', class_=['odd','even'])

    # player_info에서 'td'태그만 모두 찾기
    for info in player_info:
        player = info.find_all("td")

        # 해당 정보를 찾아서 각 리스트에 append로 추가하기
        number = player[0].text
        name = player[3].text
        position =player[4].text
        age = player[5].text
        nation = player[6].img['alt']
        team = player[7].img['alt']
        value = player[8].b.text
        
        player_list.append([number,name,position,age,nation,team,value])
    
    time.sleep(1)


# pd.DataFrame()으로 저장하기 
df = pd.DataFrame(player_list, columns = ['등수','이름','포지션','나이','나라','소속','연봉가치'])
df

,등수,이름,포지션,나이,나라,소속,연봉가치
0,1,Kylian Mbappé,Centre-Forward,22,France,Paris Saint-Germain,€160.00m
1,2,Harry Kane,Centre-Forward,27,England,Tottenham Hotspur,€120.00m
2,3,Erling Haaland,Centre-Forward,20,Norway,Borussia Dortmund,€110.00m
3,4,Mohamed Salah,Right Winger,28,Egypt,Liverpool FC,€110.00m
4,5,Neymar,Left Winger,29,Brazil,Paris Saint-Germain,€110.00m
5,6,Jadon Sancho,Right Winger,21,England,Borussia Dortmund,€100.00m
6,7,Trent Alexander-Arnold,Right-Back,22,England,Liverpool FC,€100.00m
7,8,Sadio Mané,Left Winger,29,Senegal,Liverpool FC,€100.00m
8,9,Raheem Sterling,Left Winger,26,England,Manchester City,€100.00m
9,10,Kevin De Bruyne,Attacking Midfield,29,Belgium,Manchester City,€100.00m
10,11,Bruno Fernandes,Attacking Midfield,26,Portugal,Manchester United,€90.00m
11,12,Joshua Kimmich,Defensive Midfield,26,Germany,Bayern Munich,€90.00m
12,13,Jan Oblak,Goalkeeper,28,Slovenia,Atlético Madrid,€90.00m
13,14,Romelu Lukaku,Centre-Forward,27,Belgium,Inter Milan,€90.00m
14,15,Marcus Rashford,Left Winger,23,England,Manchester United,€85.00m
15,16,Heung-min Son,Left Winger,28,"Korea, South",Tottenham Hotspur,€85.00m
16,17,Ansu Fati,Left Winger,18,Spain,FC Barcelona,€80.00m
17,18,João Félix,Second Striker,21,Portugal,Atlético Madrid,€80.00m
18,19,Frenkie de Jong,Central Midfield,23,Netherlands,FC Barcelona,€80.00m
19,20,Lionel Messi,Right Winger,33,Argentina,FC Barcelona,€80.00m
20,21,Alphonso Davies,Left-Back,20,Canada,Bayern Munich,€75.00m
21,22,Matthijs de Ligt,Centre-Back,21,Netherlands,Juventus FC,€75.00m
22,23,Thibaut Courtois,Goalkeeper,28,Belgium,Real Madrid,€75.00m
23,24,Marc-André ter Stegen,Goalkeeper,28,Germany,FC Barcelona,€75.00m
24,25,Pedri,Attacking Midfield,18,Spain,FC Barcelona,€70.00m
25,26,Phil Foden,Central Midfield,20,England,Manchester City,€70.00m
26,27,Lautaro Martínez,Centre-Forward,23,Argentina,Inter Milan,€70.00m
27,28,Federico Valverde,Central Midfield,22,Uruguay,Real Madrid,€70.00m
28,29,Rodri,Defensive Midfield,24,Spain,Manchester City,€70.00m
29,30,Mikel Oyarzabal,Left Winger,23,Spain,Real Sociedad,€70.00m
30,31,Kai Havertz,Attacking Midfield,21,Germany,Chelsea FC,€70.00m
31,32,Marcos Llorente,Central Midfield,26,Spain,Atlético Madrid,€70.00m
32,33,Sergej Milinković-Savić,Central Midfield,26,Serbia,SS Lazio,€70.00m
33,34,Rúben Dias,Centre-Back,23,Portugal,Manchester City,€70.00m
34,35,Bernardo Silva,Attacking Midfield,26,Portugal,Manchester City,€70.00m
35,36,Andrew Robertson,Left-Back,27,Scotland,Liverpool FC,€70.00m
36,37,Leroy Sané,Right Winger,25,Germany,Bayern Munich,€70.00m
37,38,Marquinhos,Centre-Back,26,Brazil,Paris Saint-Germain,€70.00m
38,39,Raphaël Varane,Centre-Back,27,France,Real Madrid,€70.00m
39,40,Serge Gnabry,Right Winger,25,Germany,Bayern Munich,€70.00m
40,41,Leon Goretzka,Central Midfield,26,Germany,Bayern Munich,€70.00m
41,42,Virgil van Dijk,Centre-Back,29,Netherlands,Liverpool FC,€70.00m
42,43,Casemiro,Defensive Midfield,29,Brazil,Real Madrid,€70.00m
43,44,Kingsley Coman,Left Winger,24,France,Bayern Munich,€65.00m
44,45,Timo Werner,Centre-Forward,25,Germany,Chelsea FC,€65.00m
45,46,Alisson,Goalkeeper,28,Brazil,Liverpool FC,€65.00m
46,47,Eduardo Camavinga,Central Midfield,18,France,Stade Rennais FC,€60.00m
47,48,Bukayo Saka,Right Winger,19,England,Arsenal FC,€60.00m
48,49,Jules Koundé,Centre-Back,22,France,Sevilla FC,€60.00m
49,50,Richarlison,Left Winger,23,Brazil,Everton FC,€60.00m

In [9]:
#df.to_csv()로 csv 파일로 저장하기
df.to_csv('transfermark50.csv',index = False)

In [11]:
# 저장된 파일 불러오기
df = pd.read_csv("transfermark50.csv")

In [15]:
df.shape
df.info()
df[2:6]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   등수      50 non-null     int64
 1   이름      50 non-null     object
 2   포지션     50 non-null     object
 3   나이      50 non-null     int64
 4   나라      50 non-null     object
 5   소속      50 non-null     object
 6   연봉가치    50 non-null     object
dtypes: int64(2), object(5)
memory usage: 2.9+ KB

,등수,이름,포지션,나이,나라,소속,연봉가치
2,3,Erling Haaland,Centre-Forward,20,Norway,Borussia Dortmund,€110.00m
3,4,Mohamed Salah,Right Winger,28,Egypt,Liverpool FC,€110.00m
4,5,Neymar,Left Winger,29,Brazil,Paris Saint-Germain,€110.00m
5,6,Jadon Sancho,Right Winger,21,England,Borussia Dortmund,€100.00m

In [18]:
df[['이름','나이','소속']].head()

               이름  나이                   소속
0   Kylian Mbappé  22  Paris Saint-Germain
1      Harry Kane  27    Tottenham Hotspur
2  Erling Haaland  20    Borussia Dortmund
3   Mohamed Salah  28         Liverpool FC
4          Neymar  29  Paris Saint-Germain

In [21]:
# loc는 인데스 숫자(문자)를 기준으로 한다. 즉, 마지막 숫자(문자)도 포함
df.loc[0:2]
# df[0:2]
# df.head(2)

,등수,이름,포지션,나이,나라,소속,연봉가치
0,1,Kylian Mbappé,Centre-Forward,22,France,Paris Saint-Germain,€160.00m
1,2,Harry Kane,Centre-Forward,27,England,Tottenham Hotspur,€120.00m
2,3,Erling Haaland,Centre-Forward,20,Norway,Borussia Dortmund,€110.00m

In [23]:
df.loc[0,'이름']
df.loc[0:5,['이름','포지션','나이']]

               이름             포지션  나이
0   Kylian Mbappé  Centre-Forward  22
1      Harry Kane  Centre-Forward  27
2  Erling Haaland  Centre-Forward  20
3   Mohamed Salah    Right Winger  28
4          Neymar     Left Winger  29
5    Jadon Sancho    Right Winger  21

In [25]:
# 조건 색인
df[df['나이']<=20]

,등수,이름,포지션,나이,나라,소속,연봉가치
2,3,Erling Haaland,Centre-Forward,20,Norway,Borussia Dortmund,€110.00m
16,17,Ansu Fati,Left Winger,18,Spain,FC Barcelona,€80.00m
20,21,Alphonso Davies,Left-Back,20,Canada,Bayern Munich,€75.00m
24,25,Pedri,Attacking Midfield,18,Spain,FC Barcelona,€70.00m
25,26,Phil Foden,Central Midfield,20,England,Manchester City,€70.00m
46,47,Eduardo Camavinga,Central Midfield,18,France,Stade Rennais FC,€60.00m
47,48,Bukayo Saka,Right Winger,19,England,Arsenal FC,€60.00m

In [30]:
# 소속팀이 토트넘인 선수
df[df['소속'] == 'FC Barcelona' ]

,등수,이름,포지션,나이,나라,소속,연봉가치
16,17,Ansu Fati,Left Winger,18,Spain,FC Barcelona,€80.00m
18,19,Frenkie de Jong,Central Midfield,23,Netherlands,FC Barcelona,€80.00m
19,20,Lionel Messi,Right Winger,33,Argentina,FC Barcelona,€80.00m
23,24,Marc-André ter Stegen,Goalkeeper,28,Germany,FC Barcelona,€75.00m
24,25,Pedri,Attacking Midfield,18,Spain,FC Barcelona,€70.00m

In [43]:
# loc조건으로 나이가 30이상인 선수의 '이름'과 '연봉가치'를 출력하세요
# df.loc[ 행(조건) , 열(조건) ]
df.loc[df["나이"] >=30, ['이름','연봉가치']]

              이름     연봉가치
19  Lionel Messi  €80.00m

## DataFrame 정렬하기와 컬럼바꾸기

In [48]:
# 인덱스로 정렬하기 df.sort_index()
df.head()
df.sort_index().head()

# 인덱스 내림차순으로 정렬하기
df.sort_index(ascending=False).head()

,등수,이름,포지션,나이,나라,소속,연봉가치
49,50,Richarlison,Left Winger,23,Brazil,Everton FC,€60.00m
48,49,Jules Koundé,Centre-Back,22,France,Sevilla FC,€60.00m
47,48,Bukayo Saka,Right Winger,19,England,Arsenal FC,€60.00m
46,47,Eduardo Camavinga,Central Midfield,18,France,Stade Rennais FC,€60.00m
45,46,Alisson,Goalkeeper,28,Brazil,Liverpool FC,€65.00m

In [51]:
# 나이 많은 선수 10명 보여주기
df.sort_values("나이",ascending=False).head()

,등수,이름,포지션,나이,나라,소속,연봉가치
19,20,Lionel Messi,Right Winger,33,Argentina,FC Barcelona,€80.00m
42,43,Casemiro,Defensive Midfield,29,Brazil,Real Madrid,€70.00m
4,5,Neymar,Left Winger,29,Brazil,Paris Saint-Germain,€110.00m
7,8,Sadio Mané,Left Winger,29,Senegal,Liverpool FC,€100.00m
9,10,Kevin De Bruyne,Attacking Midfield,29,Belgium,Manchester City,€100.00m

In [53]:
# 컬럼 이름 바꾸고 저장하기 ('소속' -> '클럽')
df.rename(columns = {"소속" : "클럽"},inplace =True)

In [54]:
df.head()

,등수,이름,포지션,나이,나라,클럽,연봉가치
0,1,Kylian Mbappé,Centre-Forward,22,France,Paris Saint-Germain,€160.00m
1,2,Harry Kane,Centre-Forward,27,England,Tottenham Hotspur,€120.00m
2,3,Erling Haaland,Centre-Forward,20,Norway,Borussia Dortmund,€110.00m
3,4,Mohamed Salah,Right Winger,28,Egypt,Liverpool FC,€110.00m
4,5,Neymar,Left Winger,29,Brazil,Paris Saint-Germain,€110.00m

## 데이터 전처리(pre-processing)

In [58]:
# 연봉가치에서 불필요한 문자는 없애고 데이터 타입을 숫자형으로 바꾸기
# €160.00m -> 160.00
# 열에 대한 전처리를 모두 적용하기 위해서 apply함수와 lambda함수를 통해 한꺼번에 전처리
import re
df['연봉가치'] = df['연봉가치'].apply(lambda x : float(x[1:len(x)-1]))
df.head()

   등수              이름             포지션  나이       나라                   클럽   연봉가치
0   1   Kylian Mbappé  Centre-Forward  22   France  Paris Saint-Germain  160.0
1   2      Harry Kane  Centre-Forward  27  England    Tottenham Hotspur  120.0
2   3  Erling Haaland  Centre-Forward  20   Norway    Borussia Dortmund  110.0
3   4   Mohamed Salah    Right Winger  28    Egypt         Liverpool FC  110.0
4   5          Neymar     Left Winger  29   Brazil  Paris Saint-Germain  110.0

## 칼럼 생성과 삭제

In [60]:
# 컬럼 생성 -> 시장가치단위 유로를 한화로
df['시장가치(억)'] = df['연봉가치']*13
df.head()

,등수,이름,포지션,나이,나라,클럽,연봉가치,시장가치(억)
0,1,Kylian Mbappé,Centre-Forward,22,France,Paris Saint-Germain,160.0,2080.0
1,2,Harry Kane,Centre-Forward,27,England,Tottenham Hotspur,120.0,1560.0
2,3,Erling Haaland,Centre-Forward,20,Norway,Borussia Dortmund,110.0,1430.0
3,4,Mohamed Salah,Right Winger,28,Egypt,Liverpool FC,110.0,1430.0
4,5,Neymar,Left Winger,29,Brazil,Paris Saint-Germain,110.0,1430.0

In [61]:
# 칼럼 삭제 df.drop(columns = ['칼럼이름'])
df.drop(columns =['연봉가치'], inplace=True)

In [62]:
df.head()

,등수,이름,포지션,나이,나라,클럽,시장가치(억)
0,1,Kylian Mbappé,Centre-Forward,22,France,Paris Saint-Germain,2080.0
1,2,Harry Kane,Centre-Forward,27,England,Tottenham Hotspur,1560.0
2,3,Erling Haaland,Centre-Forward,20,Norway,Borussia Dortmund,1430.0
3,4,Mohamed Salah,Right Winger,28,Egypt,Liverpool FC,1430.0
4,5,Neymar,Left Winger,29,Brazil,Paris Saint-Germain,1430.0

## DataFrame 통계분석과 groupby()

In [63]:
# 숫자형 데이터에 대한 통계
df.describe()

             등수         나이      시장가치(억)
count  50.00000  50.000000    50.000000
mean   25.50000  24.560000  1046.500000
std    14.57738   3.488523   245.061946
min     1.00000  18.000000   780.000000
25%    13.25000  22.000000   910.000000
50%    25.50000  25.000000   910.000000
75%    37.75000  27.000000  1170.000000
max    50.00000  33.000000  2080.000000

In [64]:
# 선수들이 속한 가장 많은 나라는? 최빈값 = mode()
df['나라'].mode()

0    England
1    Germany
dtype: object

## Groupby()

In [68]:
# 데이터를 그룹으로 묶어 분석
g = df.groupby('나라')
#g.count()
g.sum()

               등수   나이  시장가치(억)
나라
Argentina      47   56   1950.0
Belgium        47   84   3445.0
Brazil        182  135   4875.0
Canada         21   20    975.0
Egypt           4   28   1430.0
England       113  158   8255.0
France        180  113   5395.0
Germany       230  176   6630.0
Korea, South   16   28   1105.0
Netherlands    83   73   2925.0
Norway          3   20   1430.0
Portugal       98   96   4030.0
Scotland       36   27    910.0
Senegal         8   29   1300.0
Serbia         33   26    910.0
Slovenia       13   28   1170.0
Spain         133  109   4680.0
Uruguay        28   22    910.0

In [97]:
# 선수들의 몸값의 합이 큰 클럽별로 정렬해서 보여주기
cl = df.groupby('클럽').sum()
cl['시장가치(억)'].sort_values(ascending = False)

클럽
Liverpool FC           6695.0
Manchester City        6240.0
Bayern Munich          5720.0
FC Barcelona           5005.0
Paris Saint-Germain    4420.0
Real Madrid            3705.0
Atlético Madrid        3120.0
Borussia Dortmund      2730.0
Tottenham Hotspur      2665.0
Manchester United      2275.0
Inter Milan            2080.0
Chelsea FC             1755.0
Juventus FC             975.0
Real Sociedad           910.0
SS Lazio                910.0
Stade Rennais FC        780.0
Everton FC              780.0
Sevilla FC              780.0
Arsenal FC              780.0
Name: 시장가치(억), dtype: float64